# 识别接口
BASE_URL=http://example.com
API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# coze智能体接口
COZE_URL=https://api.coze.cn/v3/chat?
BOT_ID=xxxxxxxxxxxxxxxxxx
USER_ID=xxxxxx
COZE_TOKEN=Bearer pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 高德地图Web API
AMAP_BASE_URL=https://restapi.amap.com
AMAP_KEY=xxxxxxxxxxxxxxxxxxxxx
